<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Taller</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Estilos.css">
</head>
<body>

    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-principal">
    <div class="container">
        <a class="" href="https://fca.unach.mx/">
            <img height="45px" src="/static/img/Escudo_unach.png" alt="">
        </a>
    </div>
</nav>

<div class="row principal">
    <div class="col-md-6 login-vector d-lg-block d-none ">
        <img class="img-fluid" src="/static/img/Pizarron.jpg" alt="">
    </div>

    <div class="login-content col-lg-5 col-12 mb-2" id="content_login">
        <div class="login-form ml-md-auto mx-auto">
            <div class="login-header">
                <h1>ACCESO</h1>
            </div>
        </div>

    <div class="form-group">
        <label for="">Correo UNACH</label>
        <input type="mail" class="form-control" placeholder="julio.gomez99@unach.mx" required autofocus="on">
    </div>
    <div class="form-group ">
        <label for="">Contraseña</label>
        <div class="input-password">
            <input type="password" class="form-control" required>
        </div>
    </div>
    <input type="hidden" name="enviar" value="Ingresar">
    <button type="submit" class="btn btn-block btn-lg text-semibold text-18 btn-unach-primary mt-5">Ingresar</button>
</div>

    <footer>
        <div class="container">
            <div class="row text-md-left mt-2">
                <div class="col-md-10 titulos">
                    <h6 class="text-20 text-semibold">
                        Universidad Autonoma de Chiapas &nbsp;&nbsp;  |   Julio Manuel Gomez Hernandez <br>
                        <div class="d-lg-block d-none">2023© UNACH | Taller de Desarrollo 4&nbsp;&nbsp;&nbsp;&nbsp;      |   
                            <a href="https://github.com/GomJulio12">&nbsp;&nbsp;<i class="fab fa-github" aria-hidden="true"></i></a>
                        </div>
                    </h6>
                </div>
                <div class="col-md-2 logos text-md-right text-center mt-2  mt-md-0 mb-1  mb-md-0">
                    <img class="mr-2" src="/static/img/unach.svg">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>